doctype html
html
    head
        title learn to code HTML, CS, And Java
        meta(name="description", content="this is a HTML replaca of w3s")
        link(rel="stylesheet", href="style.css")
    body
        header
            a.current(href="/") Home
            a(href="/html") HTML
            a(href="/css") CSS
            a(href="/javascript") JavaScript
        article
            h1 This is a replica a w3s
            p Learn to Code like a PRO for beginners. 
            h2 HTML
            p Learn Html #[a(href="/html") CHeck it out!]
            h2 CSS
            p Learn CSS #[a(href="/css") CHeck it out!]
            h2 JavaScript
            p Learn JavaScript #[a(href="/javascript") CHeck it out!]
        nav  
            h3 HTML and CSS
            a(href="/html") Learn HTML
            a(href="/css") Learn CSS
            a(href="/javascript") Learn JavaScript

        footer &copy; 2017 My name is awesome! 


    
